* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.container>div>img {
    width: 50vw;
    height: 100vh;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}


a {
    text-decoration: none;
}

.login-form {
    height: 90%;
}

.login-form>p {
    color: #2D3748;
    font-size: 16px;
    font-weight: 400;
}

.login-form>h1 {
    color: #1A202C;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login-form>form>label {
    color: #4A5568;
    font-size: 16px;
    font-weight: 400;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #616161;
}

input[type=text],
input[type=password] {
    padding-left: 20px;
    width: 350px;
    height: 50px;
    color: #2D3748;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
}

.remember {
    font-size: 14px;
    margin-right: 150px;
}

.forgot {
    color: #2C5282;
    font-size: 14px;
    font-weight: 400;
}

input[type=radio] {
    width: 15px;
    height: 15px;
}

input[type=button] {
    width: 347px;
    height: 50px;
    border-radius: 5px;
    background: #04C35C;
    border: 0px;
    margin-bottom: 10px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.google-sign-in {
    width: 347px;
    height: 50px;
    border-radius: 5px;
    background: #2D3748;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-sign-in>img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-sign-in>p {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;

}

.account>p>a {
    color: #2B6CB0;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-btn {
    margin-top: 10px;
    margin-bottom: 20px;
}

.not{
    font-size: small;
    font-style: italic;
    color: red;
    margin-top: -5px;
}

@media screen and (max-width:900px) {
    .login-form {
        height: 85%;
    }

    .login-form>p {
        font-size: 14px;
    }

    .login-form>h1 {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .login-form>form>label {
        font-size: 14px;
    }

    input[type=text],
    input[type=password] {
        padding-left: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }


    .forgot {
        font-size: 14px;
        font-weight: 400;
    }


    input[type=button] {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
    }


    .google-sign-in>p {
        font-size: 14px;
        font-weight: 600;

    }

    .radio-btn {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}


@media screen and (max-width:785px) {
    * {
        overflow: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .container>div>img {
        width: 100vw;
        object-fit: cover;
        height: 50vh;
    }

    .login-page {
        width: 100vw;
        padding: 20px;
    }
}


@media screen and (max-width:410px) {


    .login-form>p {
        font-size: 12px;
    }

    .login-form>h1 {
        font-size: 25px;
    }

    .login-form>form>label {
        font-size: 12px;
    }

    input[type=text],
    input[type=password] {
        width: 300px;
        font-size: 12px;
    }

    .remember {
        font-size: 12px;

    }

    .forgot {
        font-size: 12px;
    }

    input[type=radio] {
        width: 12px;
        height: 12px;
    }

    input[type=button] {
        width: 300px;
        font-size: 12px;
    }

    .google-sign-in {
        width: 300px;
    }



    .google-sign-in>p {
        font-size: 12px;

    }

}


@media screen and (max-width:360px) {


    .login-form>p {
        font-size: 10px;
    }

    .login-form>h1 {
        font-size: 20px;
    }

    .login-form>form>label {
        font-size: 10px;
    }

    input[type=text],
    input[type=password] {
        width: 200px;
        font-size: 10px;
    }

    .remember {
        font-size: 10px;
    }

    .forgot {
        font-size: 10px;
    }

    input[type=radio] {
        width: 10px;
        height: 10px;
    }

    input[type=button] {
        width: 200px;
        font-size: 10px;
    }

    .google-sign-in {
        width: 200px;
    }

    .google-sign-in>p {
        font-size: 10px;
    }

    .account {
        font-size: 10px;
    }

}